{% extends "base.html" %}
{% block content %}
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="content is-small">
                  <h1 class="title is-3">{% block category %}All{% endblock %} articles</h1>
                  <div class="buttons">
                      <a class="button
                       {% if output_file == "articles/index.html" %} is-info {% else %} is-light is-link {% endif %}
                        " href="{{ SITEURL }}/{{ ARCHIVES_URL }}">All</a>
                      {% for category, articles in categories|sort %}
                      <a class="button
                       {% if output_file == category %} is-info {% else %} is-light is-link {% endif %}
                      " href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a>
                      {% endfor %}
                  </div>
                  <div class="columns is-vcentered">
                      <div class="column is-11">
                      <p class="control has-icons-left">
                      <input type="text" id="searchInput" onkeyup="dynamicSearch()" class="input is-info" type="text" placeholder="Filter articles">
                      <span class="icon is-left">
                        <i class="fas fa-search" aria-hidden="true"></i>
                      </span></p></div>
                      <div class="column is-1">
                          <span class="tag is-info is-light is-large">
                      {{ articles|count }}
                              </span>
                      </div>
                  </div>
                      <nav class="panel" id="listedArticles">
                  {% for article in dates %}
                  <a class="panel-block is-vcentered" href="{{ SITEURL }}/{{ article.url }}">
                          <div class="column is-narrow has-text-left">
                      {% if article.thumbnail %}
                     <figure class="image is-24x24-mobile is-48x48 is-inline-block" style="margin: 0px">
                         <img src="{{ SITEURL }}/{{article.thumbnail}}" alt="{{ article.title }}">
                     </figure>
                      {% else %}
                              <figure class="image is-24x24-mobile is-48x48 is-inline-block" style="margin: 0px">
                         <img src="{{ SITEURL }}/theme/images/logo/logo_small.png" alt="{{ article.title }}">
                     </figure>

                              {% endif %}
                      </div>
                          <div class="column is-8 is-11-mobile has-text-left">
                        <h5 class="title is-5 has-text-weight-normal">{{ article.title }}</h5>
                        <h6 class="subtitle is-6 has-text-grey has-text-weight-normal">{{ article.locale_date }}</h6>
                          </div>
                            <div class="column is-3 is-hidden-mobile has-text-right">
                           {% for tag in article.tags %}
                             <span class="tag is-success">
                                 {{ tag }}
                             </span>
                            {% endfor %}
                            </div>
                  </a>
                  {% endfor %}
                      </nav>


              </div>
            </div>
          </div>
{% endblock %}
