<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/theme/images/logo/favicon.ico">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bulma.min.css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" />
        {% if page_name == 'archives' or category or tag %}
        <script defer src="{{ SITEURL }}/theme/js/dynamic_search.js"></script>
        {% endif %}
        {% if page_name == 'index' %}
        <script defer src="{{ SITEURL }}/theme/js/dynamic_popup.js"></script>
        {% endif %}
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
<!-- BEGIN Google Analytics -->
{% if GOOGLE_ANALYTICS %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{GOOGLE_ANALYTICS}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{GOOGLE_ANALYTICS}}');
</script>
{% endif %}
<!-- END Google Analytics -->
</head>
<body>
  <!-- INTRODUCTION -->
  <section class="hero">
    <div class="hero-body">
        {% include 'base_navbar.html' %}
      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </section>

<!-- BEGIN Popup -->
<!-- https://codepen.io/qualitydixon/pen/GoeOOP-->
  <div id="modal" class="modal is-hidden">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
            {% block popup %}{% endblock %}
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" onclick="togglePopUp()"></button>
</div>
<!-- END popup -->

  <footer class="footer">
    <div class="columns is-multiline is-centered">
      <div class="column is-4 has-text-left">
{% if LINKS_FOOTER %}
{% for name, link in LINKS_FOOTER %}
<a href="{{ link }}">{{ name }}</a>
{% endfor %}
          {% if FEED_ALL_ATOM %}
<a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}">RSS</a>
          {% endif %}
{% endif %}
      </div>
      <div class="column is-4 has-text-right">
{% if SOCIAL %}
{% for portal, link, name, icon in SOCIAL %}
<a href="{{ link }}"><i class="{{icon}}" aria-hidden="true"></i></a>
{% endfor %}
{% endif %}
      </div>
    </div>
      <div class="content has-text-centered">
      <p>Site proudly powered by Bulma, Pelican and Jinja2. Hosted on Netlify.<br />
          Theme <a href="https://bitstudio.dev">bitstudio</a> based on
          <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/blog-tailsaw.html">blog-tailsaw</a>
           by <a href="https://gonzalojs.com">Gonzalo Gutierrez</a>.<br />This project is open source and available under the
        <a href="http://opensource.org/licenses/mit-license.php">MIT license</a></p>
    </div>
  </footer>

</body>
</html>