{% extends "base.html" %}
{% block popup %}{% include 'popup_newsletter.html' %}{% endblock popup %}
{% block content %}
        <div class="columns is-vcentered">
          <div class="column is-5 is-offset-2">
            <div class="content is-large">
                <h1 class="title">Hi someone!</h1>
              <p>My name is Wojciech and this is my site about Python, Linux and FOSS software.</p>
            </div>
          </div>
          <div class="column is-3 has-text-centered">
            <div class="notification is-info">
              <figure class="image is-96x96 is-inline-block">
                <img class="is-rounded" src="{{ SITEURL }}/theme/images/author/avatar_round.png" alt="{{ AUTHOR }}">
              </figure>
              <h4 class="title is-4">Email Newsletter</h4>
                <h6 class="subtitle is-6">Get an update when something new comes out!</h6>
                <button class="button is-link is-medium is-rounded" onclick="togglePopUp()">
                  <span class="icon is-small">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span>Subscribe</span>
                </button>
            </div>
          </div>
        </div>

{% if articles %}
  <!-- Newest Article -->
    {% for article in dates %}
        {# First item #}
        {% if loop.first and not articles_previous_page %}
        <section class="section">
          <div class="columns">
            <div class="column is-9 is-offset-1">
              <div class="content is-medium">
                <h5 class="subtitle is-5 has-text-grey">{{ article.locale_date }}</h5>
                  <h1 class="title is-3"><a href="{{ SITEURL }}/{{ article.url }}" class="has-text-black">{{ article.title }}</a></h1>
                  <p>{{ article.summary }}</p>
                  <div class="is-full has-text-right">
                      <a href="{{ SITEURL }}/{{ article.url }}" class="button is-info">
                          <span class="icon is-small">
                    <i class="fas fa-book"></i>
                  </span>
                  <span>Read more</span>
                      </a></div>
              </div>
            </div>
          </div>
            <hr />
        </section>
        {% if loop.length > 1 %}
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                        <div class="columns is-multiline is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        {% endif %}
        {# other items #}
        {% else %}



  <!-- Rest of articles -->
            <div class="column is-half has-text-justified">
              <div class="content is-medium">
                <h5 class="subtitle is-5 has-text-grey">{{ article.locale_date }}</h5>
                  <h1 class="title is-3"><a href="{{ SITEURL }}/{{ article.url }}" class="has-text-black">{{ article.title }}</a></h1>
                <p class="has-text-dark">{{ article.summary }}</p>
              </div>
            </div>
                    {% endif %}
        {% if loop.last %}
            {% if loop.length > 1 or articles_next_page or articles_previous_page %}
                <!-- /#posts-list -->
                                </div>
                </div>
            </div>
        </section>
                        <div class="is-divider">
                {% if articles_next_page or articles_previous_page %}
                    {% if DEFAULT_PAGINATION %}
                            <div class="columns">
                            <div class="column is-4 has-text-left">
    {% if articles_previous_page %}
        <a class="button is-light is-medium" href="{{ SITEURL }}/{{ articles_previous_page.url }}">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        </a>
    {% endif %}
                            </div>
                            <div class="column is-4 has-text-centered">
                                <button class="button is-medium is-rounded is-static">{{ articles_page.number }} / {{ articles_paginator.num_pages }}</button>
                            </div>
                                <div class="column is-4 has-text-right">
    {% if articles_next_page %}
        <a class="button is-light is-medium" href="{{ SITEURL }}/{{ articles_next_page.url }}">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </a>
    {% endif %}
                                </div>
                            </div>
{% endif %}
                {% endif %}


                </div><!-- /#content -->
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
{% endif %}
{% endblock content %}