{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ page.title }}{% endblock %}
{% block content %}
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <div class="content has-text-centered">
<iframe style="position: relative; bottom: 70px" width="100%" height="340px" scrolling="no" overflow="no" frameborder="yes"  src="{{SOCIAL_MAILCHIMP_CONTACT_PAGE}}"></iframe>
                </div>
                </div></div>
        </section>




{% endblock %}
