{% extends "base.html" %}

{#### MACROS BEGIN ####}

{% macro years_of_articles(articles) %}
{% set articles_years = [] %}
{% set unique_years = [] %}
{% for article in articles %}
{{ articles_years.append( article.date.year|int ) or ""}}
{% endfor %}
{% for year in articles_years|unique|sort %}
{{ unique_years.append(year) or "" }}
{% endfor %}
{% for year in unique_years %}{{ year }}{% if not loop.last %},{% endif %}{% endfor -%}
{% endmacro %}

{#### MACROS END ####}

{% block content %}
        <div class="columns is-vcentered">
          <div class="column is-5 is-offset-2">
            <div class="content is-large">
                <h1 class="title">Hi someone!</h1>
              <p>My name is Wojciech and this is my site about Python, Linux and FOSS software.</p>
            </div>
          </div>
          <div class="column is-3 has-text-centered">
            <div class="notification is-info">
              <figure class="image is-96x96 is-inline-block">
                <img class="is-rounded" src="{{ SITEURL }}/theme/images/author/avatar_round.png" alt="{{ AUTHOR }}">
              </figure>
              <h4 class="title is-4">Twitter</h4>
                <h6 class="subtitle is-6">Get an update when something new comes out!</h6>
                <a class="button is-link is-medium is-rounded" href="https://twitter.com/{{SOCIAL_TWITTER}}">
                  <span class="icon is-small">
                    <i class="fas fab-twitter"></i>
                  </span>
                  <span>Follow</span>
                </a>
            </div>
          </div>
        </div>

 <section class="hero">
            <div class="hero-body">
                <div class="container">
                        <div class="columns is-multiline is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
{% if dates %}
  <!-- Newest Article -->
    {% for article in dates %}


            <div class="column is-half has-text-justified">
              <div class="content is-medium">
                <h5 class="subtitle is-5 has-text-grey">{{ article.locale_date }}</h5>
                  <h1 class="title is-3"><a href="{{ SITEURL }}/{{ article.url }}" class="has-text-black">{{ article.title }}</a></h1>
                <p class="has-text-dark">{{ article.summary }}</p>
              </div>
            </div>
        {% if loop.last %}
                <!-- /#posts-list -->
                                </div>
                </div>
            </div>
        </section>
                        <div class="is-divider">



{% if YEAR_ARCHIVE_SAVE_AS %}
  <nav class="breadcrumb is-centered has-succeeds-separator is-large" aria-label="breadcrumbs">
  <ul>
      {% set years = years_of_articles(articles).split(',') -%}
      {% for year in years %}
      {% set year_link = year|int|string + '/index.html' %}
    <li><a class="{% if year_link == output_file %}has-text-black {% endif %}" href="{{ SITEURL }}/{{year}}">{{year|int|string}}</a></li>

       {% endfor %}
  </ul>
</nav>
{% endif %}



                </div><!-- /#content -->
            {% endif %}
    {% endfor %}
{% endif %}
{% endblock content %}